:root {
  --dark: rgb(25,25,25);
  --lighterDark: rgb(53, 53, 53);
  --red: rgb(150, 19, 19);
  --brightPurple: rgb(136, 54, 204);
  --brightPink:  rgb(222, 0, 230);
  --darkblue: rgb(0, 25, 136);
  --seafoam: rgb(25, 255, 205);
  --better: rgb(0, 255, 0);
  --worse: rgb(255, 0, 0);
}

html {
 background-color: var(--dark);

}
header {
    background-color: var(--dark);
    border-bottom: solid 3px ;
    margin-bottom: 20px;
    padding-left: 20px;
    border-bottom-style: solid;
    border-bottom-right-radius: 3px;
    border-image: linear-gradient(to right, var(--darkblue), var(--seafoam)) 1;
}

.webName {
    background-color: var(--brightPink);
    background-image: linear-gradient(45deg, var(--brightPink), var(--red));
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;

}
 
.navSub {
    color: var(--brightPurple);
     background-color: var(--brightPink);
    background-image: linear-gradient(45deg,  var(--red), var(--brightPink));
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}

.nav-item a{
   font-weight: bold; 
   border-bottom: solid 1px var(--lighterDark);
   padding-bottom: 0px;
   margin: 3px;
   color: var(--brightPurple);
    background-color: var(--brightPink);
    background-image: linear-gradient(45deg,  var(--red), var(--brightPink));
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}

.darkTheme {
    background-color: var(--dark);
    color: white;
}
.card {
 background-color: var(--dark);
 border-style: solid;
 border-width: 3px;
 border-image: linear-gradient(40deg, var(--brightPink), var(--red)) 1;
 margin: 10px;
 color: white;
}

.row {
    background-color: var(--dark);
}

.card-header {
    font-weight: bolder;
    border-bottom: solid 2px var(--lighterDark);
    text-align: center;
    background-color: var(--brightPink);
    background-image: linear-gradient(45deg, var(--darkblue), var(--seafoam));
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}

.card p{
 margin: 0px 0px 0px;
}
.playerInput {
    padding: 5px;
    margin: 0px 5px 10px;
    border-radius: 6px;

}

.playerOverall {
    color: rgb(199, 0, 0);
}

.solo {
    color: rgb(47, 192, 120);
}

.duo {
    color: rgb(221, 107, 0);
}

.squads {
    color: rgb(136, 54, 204);
}
.vs {
    background-image: linear-gradient(to bottom, var(--darkblue), var(--seafoam));
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}

.btn {
    font-size: 115%;
    background: linear-gradient(105deg, var(--better) 50%, var(--worse) 50%);
    border: solid 1px black;
    font-weight: bolder;
    -webkit-text-stroke:1px black;
    -webkit-text-fill-color:white;
}

.recentTeamz {
    color: var(--seafoam);
    border-bottom: var(--lighterDark) solid 2px;
    text-align: center; 
}

.teammateList{

}
.teammateList li{
    color:white;
    margin: 6px;
    font-weight: bold;
    text-align: center;
    padding: 5px 15px;
    font-size: 115%;
    background-color: var(--lighterDark);
    border-radius: 10px;
    width: fit-content;
    list-style: none;
    min-width: 100%;
}












