:root {
  --dark: rgb(25,25,25);
  --red: rgb(150, 19, 19);
  --brightPurple: rgb(136, 54, 204);
  --brightPink:  rgb(222, 0, 230);
  --darkblue: rgb(0, 25, 136);
  --seafoam: rgb(25, 255, 205);
}

html {
 background-color: var(--dark);

}
header {
    background-color: var(--dark);
    border-bottom: solid 3px white;
    margin-bottom: 20px;
    padding-left: 20px;
    border-bottom-style: solid;
    border-bottom-right-radius: 3px;
    border-image: linear-gradient(40deg, var(--darkblue), var(--seafoam)) 1;
}

.webName {
    background-color: var(--brightPink);
    background-image: linear-gradient(45deg, var(--brightPink), var(--red));
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;

}
 
.navSub {
    background-color: var(--brightPink);
    background-image: linear-gradient(45deg, var(--brightPink), var(--red));
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}

.nav-item a{
   color: var(--blue);
   font-weight: bold; 
}

.darkTheme {
    background-color: var(--dark);
    color: white;
}
.card {
 background-color: var(--dark);
 border-style: solid;
 border-width: 3px;
 border-image: linear-gradient(40deg, var(--brightPink), var(--red)) 1;
 margin: 5px;
 color: white;
}

.row {
    background-color: var(--dark);
}

.card-header {
    border-bottom: solid 1px white;
    text-align: center;
}

.card p{
 margin: 0px 0px 0px;
}